.div{
    width: 400px;
    height: 150px;
    background-color: orange;
    border-top-left-radius: 30px;

}
.all{
    position: relative;
    color: white;
}
.absolute{
    position: absolute;
}
.divbir{
    width: 400px;
    height: 150px;
    background-color: blue;
    border-bottom-left-radius: 30px;
    top:166px;
    left: 9px;
}
.bir{
    position: absolute;
    top: 30px;
    left: 12px;
}
.green{
    width: 400px;
    height: 150px;
    background-color: lightgreen;
    border-top-right-radius: 30px;
    top: 16px;
    left: 408px;
}
.uch{
    top: 30px;
    left: 300px;
}
.purple{
    width: 400px;
    height: 150px;
    background-color: purple;
    top: 165px;
    left: 408px;
    border-bottom-right-radius:30px ;
}
.turt{
    top: 30px;
    left: 300px;
}
.blue{
    width: 200px;
    height: 80px;
    background-color: blue;
    bottom: 0;
    right: 0;
    border-top-left-radius: 30px;
}
.orange{
    width: 200px;
    height: 80px;
    background-color: orange;
    top: 0;
    right: 0;
    border-bottom-left-radius: 30px;
}
.purplebir{
    width: 200px;
    height: 80px;
    left: 0;
    bottom: 0;
    background-color: purple;
    border-top-right-radius: 30px;
}
.greenbir{
    width: 200px;
    height: 80px;
    background-color: lightgreen;
    left: 0;
    top: 0;
    border-bottom-right-radius: 30px;
}